@font-face {
    font-family: PostNoBillsJaffna-Regular; 
    src: url(../fonts/PostNoBillsJaffna-Regular.ttf); 
}

@font-face {
    font-family: PostNoBillsJaffna-SemiBold; 
    src: url(../fonts/PostNoBillsJaffna-SemiBold.ttf); 
}
