html {
    font-family: PostNoBillsJaffna-SemiBold;
    font-size: 18px;
    color: white;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #353535;
}

.center {
    max-width: 1080px;
    margin: auto;
}

.block-gray {
    background-color: #504F4F;
}

.block-light-gray {
    background-color: #676565;
}

.block-gray, .block-light-gray {
    height: 300px;
    padding: 50px 50px;
    border: 1px solid black;
}

header {
    position: fixed;
    background-color: #2C2C2C;
    width: 100%;
    height: 120px;
    border: 1px solid black;
}

nav {
    padding: 0px 30px;
}

nav ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul .main-li {
    font-size: 54px;
}

nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}

main {
    padding-top: 120px;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 78px;
    padding-top: 30px;
}

h2 {
    font-size: 64px;
}

img {
    float: right;
}

.my-name h2 {
    padding-top: 20px;
}

.my-name {
    padding: 0;
    margin: 0;
    display: inline-block;
    align-items: center;
}

section {
    padding: 0;
    margin: 0;
}

.about-me {
    font-size: 24px;
}

.my-skills {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.my-skills ul{
    padding-left: 0;
    list-style: none;
}

.skills {
    width: 50%;
}

.code-skills {
    width: 40%;
}

code {
    padding-top: 20px;
    font-size: 18px;
    background-color: rgba(66, 66, 66, 0.6);
    height: 180px;
    margin-left: -20px;
    padding: 15px;
}

footer {
    background-color: #2C2C2C;
    width: 100%;
    height: 100px;
}
