html {
    font-family: PostNoBillsJaffna-SemiBold;
    font-size: 18px;
    color: white;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #353535;
}

.center {
    max-width: 1080px;
    margin: auto;
}


.block-gray {
    background-color: #504F4F;
}

.block-light-gray {
    background-color: #676565;
}

section {
    height: 300px;
    padding: 50px 50px;
}

header {
    position: fixed;
    background-color: #2C2C2C;
    width: 100%;
    height: 120px;
}

nav {
    padding: 0px 30px;
}

nav ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul .main-li {
    font-size: 54px;
}

nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}

main {
    padding-top: 120px;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 78px;
    padding-top: 30px;
}

h2 {
    font-size: 64px;
    padding-top: 20px;
}

.my-name {
    padding: 0;
    margin: 0;
    display: inline-block;
    align-items: center;
}

img {
    float: right;
}



footer {
    background-color: #2C2C2C;
    width: 100%;
    height: 100px;
}
